<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Layout</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        header {
            height: 60px; /* Fixed header height */
        }
        footer {
            height: 50px; /* Fixed footer height */
        }
        main {
            flex: 1;
            overflow-y: auto;
        }
        i.big-icon{
            font-size: 50px;
        }
        .header-logo {
            height: 100%;
            max-height: 100%; /* Ensure it doesn't exceed the header */
            width: auto; /* Maintain aspect ratio */
            object-fit: contain; /* Keeps the whole logo visible */
        }



        .background-container {
            position: relative;
            overflow: hidden; /* ensures pseudo-element doesn't spill out */
            z-index: 0;
            /*padding: 50px;*/
            text-align: center;
            color: white;
            width: 100%;
        }

        .background-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://static.wixstatic.com/media/d3bb5c_6979d0ede6394f9c8b620368f35a2903~mv2.jpg/v1/fill/w_345,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/MedSecurance_web_logo.jpg');
            background-repeat: repeat; /* repeat the image */
            background-size: 40px; /* adjust as needed */
            background-position: 100px 100px;
            filter: grayscale(100%) opacity(0.3); /* black & white + light effect */
            z-index: -1; /* put behind content */
        }

        h2.carousel-item-title {
            min-height: 2em;
        }

        h1.carousel-title {
            min-height: 2em;
            align-content: end;
        }

        .carousel-item-content {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .carousel-item-content-title {
            flex: 0 1 auto;
        }

        .carousel-item-content-main {
            flex: 1 1 auto;
        }

        .carousel-item-content-footer {
            flex: 0 1 auto;
        }


    </style>
</head>
<body>
<div class="wrapper">
    <!--<header class="bg-white border-5 border-bottom d-flex align-items-center justify-content-center">
        <div class="container h-100 mh-100">
            <div class="row h-100 mh-100">
                <div class="col-2 h-100 mh-100">
                    <img class="header-logo" src="https://static.wixstatic.com/media/d3bb5c_6979d0ede6394f9c8b620368f35a2903~mv2.jpg/v1/fill/w_345,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/MedSecurance_web_logo.jpg">
                </div>
                <div class="col-8  justify-content-center mx-auto text-center" style="font-size: 40px; font-family: Arial, sans-serif;">Contract tool</div>
            </div>
        </div>
    </header>-->

    <header class="bg-white border-5 border-bottom d-flex align-items-center justify-content-center">
        <div class="col-8  justify-content-center mx-auto text-center"
             style="
             font-size: 40px;
             font-family: Arial, sans-serif;
             background-image: url('https://static.wixstatic.com/media/d3bb5c_6979d0ede6394f9c8b620368f35a2903~mv2.jpg/v1/fill/w_345,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/MedSecurance_web_logo.jpg');
             background-repeat: no-repeat;
             background-size: auto 60px;
        ">Contract tool</div>
        <!--<div class="container h-100 mh-100">
            <div class="row h-100 mh-100">
                <div class="col-2 h-100 mh-100">
                    <img class="header-logo" src="https://static.wixstatic.com/media/d3bb5c_6979d0ede6394f9c8b620368f35a2903~mv2.jpg/v1/fill/w_345,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/MedSecurance_web_logo.jpg">
                </div>

            </div>
        </div>-->
    </header>
    <main class="container-flex background-container m-0 d-flex">
        <div class="container-flex py-5 w-100 justify-content-center h-100">
            <form class="h-100 w-100 p-3 m-2 d-flex flex-column justify-content-between">
                <div id="carouselExampleControls" class="carousel carousel-dark slide h-100" data-bs-interval="false" data-bs-wrap="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="22" aria-label="Slide 23"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="23" aria-label="Slide 24"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="24" aria-label="Slide 25"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="25" aria-label="Slide 26"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="26" aria-label="Slide 27"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="27" aria-label="Slide 28"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="28" aria-label="Slide 29"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="29" aria-label="Slide 30"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="30" aria-label="Slide 31"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="31" aria-label="Slide 32"></button>
                    </div>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item h-100 active" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include CEA model?</h1>
                                    <h2 style="color: black" class="carousel-item-title"></h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-cea-file"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="ceafile_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="ceafile_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="ceafile" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>


                        <!-- Communication recommender-->
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content flex">
                                <h1 class="carousel-title" style="color: black">Include Communication Recommender's model?</h1>
                                <h2 style="color: black" class="carousel-item-title">(for new analysis in the future)</h2>
                                <div
                                        id="drop-zone-CR_model"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="CR_model" hidden>
                                </div>
                                <div id="CR_model_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include current Communication Recommender's result?</h1>
                                <h2 style="color: black" class="carousel-item-title">(to compare with future results)</h2>
                                <div
                                        id="drop-zone-CR_result"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="CR_result" hidden>
                                </div>
                                <div id="CR_result_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>

                        <!-- TVRA -->
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include TVRA component's model?</h1>
                                <h2 style="color: black" class="carousel-item-title">(for new analysis in the future)</h2>
                                <div
                                        id="drop-zone-TVRA_model"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="TVRA_model" hidden>
                                </div>
                                <div id="TVRA_model_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include current TVRA output's attack paths?</h1>
                                <h2 style="color: black" class="carousel-item-title">(to compare with future results)</h2>
                                <div
                                        id="drop-zone-TVRA_Attack+Paths"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="TVRA_Attack+Paths" hidden>
                                </div>
                                <div id="TVRA_Attack+Paths_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include current TVRA output's recommendations?</h1>
                                <h2 style="color: black" class="carousel-item-title">(to compare with future results)</h2>
                                <div
                                        id="drop-zone-TVRA_Recommendations"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="TVRA_Recommendations" hidden>
                                </div>
                                <div id="TVRA_Recommendations_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include current TVRA output's identified threats?</h1>
                                <h2 style="color: black" class="carousel-item-title">(to compare with future results)</h2>
                                <div
                                        id="drop-zone-TVRA_Threats"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="TVRA_Threats" hidden>
                                </div>
                                <div id="TVRA_Threats_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <h1 class="carousel-title" style="color: black">Include current TVRA output's report?</h1>
                                <h2 style="color: black" class="carousel-item-title">(to compare with future results)</h2>
                                <div
                                        id="drop-zone-TVRA_Report"
                                        class="border border-secondary rounded p-5 text-center bg-light"
                                        style="cursor: pointer; transition: background 0.3s;">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                    <p class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                    <input type="file" id="TVRA_Report" hidden>
                                </div>
                                <div id="TVRA_Report_feedback" style="text-align: center" class="mt-3 text-white"></div>
                            </div>
                        </div>

                        <!-- For assurance -->
                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include CEA model?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with ISO 14971, IEC 80001 and MDCG)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-riskManagementPlan"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="riskManagementPlan_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="riskManagementPlan_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="riskManagementPlan" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include CEA model?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with IEC 80001-2)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-GeneralContent_securityCase"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="GeneralContent_securityCasen_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="GeneralContent_securityCase_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="GeneralContent_securityCase" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the Medical IT-Network risk management document?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with IEC 80001-1)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_medicalItNetworkRiskManagementFile"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_medicalItNetworkRiskManagementFile_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_medicalItNetworkRiskManagementFile_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_medicalItNetworkRiskManagementFile" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include assurance case report?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with IEC 80001-1)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_assuranceCaseReport"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_assuranceCaseReport_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_assuranceCaseReport_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_assuranceCaseReport" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the Instructions of Use?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with MDCG and IEC 82304)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_instructionsOfUse"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_instructionsOfUse_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_instructionsOfUse_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_instructionsOfUse" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the validation report?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with IEC 82304)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_validationReport"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_validationReport_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_validationReport_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_validationReport" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the technical description?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with IEC 82304)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_technicalDescription"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_technicalDescription_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_technicalDescription_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_technicalDescription" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                                                                                            <div class="carousel-item h-100" style="background-color: white">
                                                                                                <div class="carousel-item-content">
                                                                                                    <div class="carousel-item-content-title">
                                                                                                        <h1 class="carousel-title" style="color: black">Include CEA model?</h1>
                                                                                                        <h2 style="color: black" class="carousel-item-title">(to assure compliance with ISO 14971, IEC 80001 and MDCG)</h2>
                                                                                                    </div>
                                                                                                    <div class="carousel-item-content-main">
                                                                                                        <div
                                                                                                                id="drop-zone-Documentation_accompanying+documents"
                                                                                                                class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                                                                                                style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                                                                                            <i id="Documentation_accompanying+documents_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                                                                                            <p id="Documentation_accompanying+documents_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                                                                                            <input type="file" id="Documentation_accompanying+documents" hidden>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="carousel-item-content-footer">
                                                                                                        <div  style="text-align: center" class="mt-3 text-white"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the trend report?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with MDCG)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_TrendReport"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_TrendReport_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_TrendReport_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_TrendReport" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the software updates log?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with TIPPSS)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_softwareUpdatesLog"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_softwareUpdatesLog_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_softwareUpdatesLog_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_softwareUpdatesLog" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the software version numbers log?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with TIPPSS)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_softwareVersionNumbersLog"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_softwareVersionNumbersLog_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_softwareVersionNumbersLog_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_softwareVersionNumbersLog" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include regulatory documentation?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with TIPPSS)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_regulatoryDocumentation"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_regulatoryDocumentation_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_regulatoryDocumentation_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_regulatoryDocumentation" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the devices record?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with TIPPSS)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_deviceRecord"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_deviceRecord_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_deviceRecord_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_deviceRecord" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item h-100" style="background-color: white">
                            <div class="carousel-item-content">
                                <div class="carousel-item-content-title">
                                    <h1 class="carousel-title" style="color: black">Include the specification for technical use?</h1>
                                    <h2 style="color: black" class="carousel-item-title">(to assure compliance with TIPPSS)</h2>
                                </div>
                                <div class="carousel-item-content-main">
                                    <div
                                            id="drop-zone-Documentation_technicalUseSpecification"
                                            class="border border-secondary rounded p-5 text-center bg-light h-100 d-flex flex-column justify-content-center align-items-center"
                                            style="cursor: pointer; transition: background 0.3s; flex-grow: 1">
                                        <i id="Documentation_technicalUseSpecification_icon" class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
                                        <p id="Documentation_technicalUseSpecification_feedback" class="mt-3 mb-0" style="color: black">Drag & drop a file here or <span class="text-primary">click to upload</span></p>
                                        <input type="file" id="Documentation_technicalUseSpecification" hidden>
                                    </div>
                                </div>
                                <div class="carousel-item-content-footer">
                                    <div  style="text-align: center" class="mt-3 text-white"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </form>
        </div>
    </main>

    <footer class="bg-dark text-white d-flex align-items-center justify-content-center"
            style=" font-family: Arial, sans-serif;"
    >
        MedSecurance Toolbox
    </footer>
    </div>

    <!-- Bootstrap JS (Optional, for components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        uploadable_files = [
            {
                'dropZone_name': 'drop-zone-cea-file',
                'fileInput_name': 'ceafile',
                'fileInfo_name': 'ceafile_feedback',
                'icon': 'ceafile_icon'
            }
        ]

        uploadable_files.forEach( element_names => {
            const dropZone = document.getElementById(element_names["dropZone_name"]);
            const fileInput = document.getElementById(element_names["fileInput_name"]);
            const fileInfo = document.getElementById(element_names["fileInfo_name"]);
            const icon = document.getElementById(element_names["icon"]);

            // When clicking the drop zone, trigger the hidden file input
            dropZone.addEventListener('click', () => fileInput.click());

            // Handle file selection
            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {

                    icon.className = "bi bi-file-earmark-medical fs-1 text-primary";

                    fileInfo.textContent = `Dropped file: ${fileInput.files[0].name}`;
                    fileInfo.appendChild(document.createElement('br'));
                    fileInfo.appendChild(document.createTextNode('Drag & drop a file here or '));

                    const span = document.createElement('span');
                    span.className = 'text-primary';
                    span.textContent = 'click to change the uploaded file';
                    fileInfo.appendChild(span);
                }
            });

            // Drag-over styling
            dropZone.addEventListener('dragover', (e) => {
                e.preventDefault();
                dropZone.classList.add('bg-primary', 'bg-opacity-10');
            });

            // Remove drag-over styling
            dropZone.addEventListener('dragleave', () => {
                dropZone.classList.remove('bg-primary', 'bg-opacity-10');
            });

            // Handle dropped file
            dropZone.addEventListener('drop', (e) => {
                e.preventDefault();
                dropZone.classList.remove('bg-primary', 'bg-opacity-10');

                const files = e.dataTransfer.files;
                if (files.length > 0) {
                    fileInput.files = files;

                    fileInfo.textContent = `Dropped file: ${files[0].name} Drag & drop a file here or `;
                    const span = document.createElement('span');
                    span.className = 'text-primary';
                    span.textContent = 'click to change the uploaded file';
                    fileInfo.appendChild(span);
                }
            });
        })
    </script>
</body>
</html>